/* month names */
.activity .lgv-months-of-year tspan:first-of-type {

    font-weight: 700;

}

/*********************** SWATCHES *************************/

/* swatches */
.activity .lgv-cell {

    stroke: white;

}

/* dot for pattern */
#ac-dot circle.dot {

    fill: white;
    fill-opacity: 1;

}

/* legend swatch */
span[data-label="coding"],
span[data-label="collaboration"] {

    background-color: currentColor;

}

/* legend swatch */
.activity [data-label="collaboration"] {

    background-image: radial-gradient(white 30%, transparent 16%),
    radial-gradient(white 30%, transparent 16%);
    background-size: 0.25em 0.25em;
    background-position: 0 0, 0.25em 0.25em;
    fill: url(#sbc-dot);

}

/* bin 1 */
.activity path[data-value="1"],
.activity #ac-dot-1 rect {

    fill: var(--activity-bin-1);

}

.activity .lgv-cell[data-label="collaboration"][data-value="1"] {

    fill: url(#ac-dot-1);

}

/* bin 2 */
.activity path[data-value="2"],
.activity #ac-dot-2 rect {

    fill: var(--activity-bin-2);

}

.activity .lgv-cell[data-label="collaboration"][data-value="2"] {

    fill: url(#ac-dot-2);

}

/* bin 3 */
.activity path[data-value="3"],
.activity #ac-dot-3 rect {

    fill: var(--activity-bin-3);

}

.activity .lgv-cell[data-label="collaboration"][data-value="3"] {

    fill: url(#ac-dot-3);

}

/************************** LEGEND **************************/

/* legend */
.activity > div:first-of-type {

    display: flex;
    justify-content: space-between;

}

/*********************** PULL STATS ***********************/

/* container */
.activity > div:last-of-type {

    display: flex;
    margin-top: 1em;

}

.activity > div:last-of-type p {

    margin-right: 1em;
    width: calc(100% / 4 - (1em * 3/4))

}

.activity > div:last-of-type p:last-of-type {

    margin-right: 0;

}

/* phrases */
.activity > div:last-of-type span {

    display: block;

}

/* averaged */
.activity > div:last-of-type p span:first-of-type {

    line-height: 0.25;
    text-transform: uppercase;

}

/* digits */
.activity > div:last-of-type p span:nth-of-type(2) {

    font-family: "Open Sans Light";
    font-size: 4.5em;
    line-height: 1;

}

/* event type */
.activity > div:last-of-type p span:nth-of-type(3) {

    font-family: "Open Sans Bold";

}
