@import "bin-legend";
@import "swatch-legend";
@import "patterns";
@import "data-coverage";
@import "project-membership";
@import "user-collaboration";
@import "code-profile";
@import "activity";
@import "contribution";

/* underline container */
.underline {

    position: relative;
    white-space: nowrap;

}

/* underline */
.underline:after {

    background: var(--accent);
    bottom: -0.2em;
    content: "";
    height: 0.2em;
    left: 0;
    position: absolute;
    width: 100%;

}
