/* component */
.bin-legend {

    width: 35%;

}

/* legend title */
.bin-legend > p {

    font-family: "Open Sans Italic";
    margin: 0;

}

/* swatch/label wrap */
.bin-legend > div p {

    display: flex;
    margin: 0;
    width: 100%;

}

/* label wrap */
.bin-legend > div p:first-of-type {

    margin: auto;

}

/* swatch/label */
.bin-legend span {

    display: block;
    width: 100%;

}

/* threshold label */
.bin-legend span[data-label] {

    text-align: center;

}

/* bin swatch */
.bin-legend span[data-value] {

    height: 1em;

}

.bin-legend span[data-value="1"] {

    background: var(--activity-bin-1);

}

.bin-legend span[data-value="2"] {

    background: var(--activity-bin-2);

}

.bin-legend span[data-value="3"] {

    background: var(--activity-bin-3);

}
