/* visualization wrap */
.code-profile > div {

    display: flex;

}

/* sections */
.code-profile section {

    margin-right: var(--copy-gutter-double);
    width: calc(50% - var(--copy-gutter));

}

/* second section */
.code-profile section:last-of-type {

    margin-right: 0;

}

/* text */
.code-profile section hgroup p {

    max-width: 100%;

}

/* hide small arcs b/c they will overlap anyway */
.code-profile [data-small-arc="true"] {

    display: none;

}

/* arcs */
.code-profile .lgv-arc {

    cursor: pointer;
    fill: transparent;
    stroke: currentColor;

}
