@import "~vue-material/dist/theme/engine";

/*************************************** COLOR PALETTE ***************************************/

@import "visualization";

$primary: md-get-palette-color(gray, 800);
$accent: $visualization6;

$dark-grey: rgb(31, 31, 31);
$mid-grey: rgb(100, 100, 100);
$light-grey: rgb(240, 240, 240);

@include md-register-theme("default", (
  primary: $primary,
  accent: $accent
));

// apply theme
@import "~vue-material/dist/theme/all";

:root{

    --activity-bin-1: #dcdcdc;
    --activity-bin-2: #a2a2a2;
    --activity-bin-3: #5e5e5e;

}
