.contribution .swatch-legend {

    width: 20em;

}

/*********************** SWATCHES *************************/

/* legend swatch */
span[data-label="d3"],
span[data-label="data-visualization"] {

    background-color: currentColor;

}

/* legend swatch */
.contribution [data-label="d3"] {

    background-image: radial-gradient(white 30%, transparent 16%),
    radial-gradient(white 30%, transparent 16%);
    background-size: 0.25em 0.25em;
    background-position: 0 0, 0.25em 0.25em;
    /*fill: url(#sbc-dot);*/

}

/*********************** PULL STATS ***********************/

/* container */
.contribution > div:last-of-type {

    display: flex;
    margin-top: 1em;

}

.contribution > div:last-of-type p {

    margin-right: 1em;
    width: calc(100% / 4 - (1em * 3/4))

}

.contribution > div:last-of-type p:last-of-type {

    margin-right: 0;

}

/* phrases */
.contribution > div:last-of-type span {

    display: block;

}

/* averaged */
.contribution > div:last-of-type p span:first-of-type {

    line-height: 0.25;
    text-transform: uppercase;

}

/* digits */
.contribution > div:last-of-type p span:nth-of-type(2) {

    font-family: "Open Sans Light";
    font-size: 4.5em;
    line-height: 1;

}

/* stat type */
.contribution > div:last-of-type p span:nth-of-type(3) {

    font-family: "Open Sans Bold";

}
