/* component */
.data-coverage {

    border-bottom: 0.09em;
    border-bottom-style: solid;
    margin-bottom: 3em;
    padding-bottom: 1.5em;

}

/* headline */
.data-coverage > h1 {

    font-size: 1em;
    margin-bottom: 2em;
    position: relative;
    text-align: center;

}

/* artificial horizontal rules */
.data-coverage > h1:before,
.data-coverage > h1:after {

    background: currentColor;
    content: "";
    height: 0.1em;
    position: absolute;
    top: 50%;
    width: 22%;

}

/* left rule */
.data-coverage > h1:before {

    left: 0;

}

/* right rule */
.data-coverage > h1:after {

    right: 0;

}
