html {

    scroll-behavior: smooth;

}

html,
body {

    background: $light-grey;
    font-family: "Open Sans", sans-serif;

}

a,
svg {

    transition: .3s cubic-bezier(.25,.8,.25,1);
    transition-property: all;

}

p {

    max-width: var(--copy-max);

}

main {

    padding-bottom: var(--copy-gutter);

}

main,
footer {

    margin-left: auto;;
    margin-right: auto;;

}

main > section {

    background-color: white;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    padding-top: 25em;

}

article {

    margin-bottom: 5em;

}

article hgroup {

    margin-bottom: 2em;
    max-width: 85%;

}

article hgroup p:first-of-type {

    font-family: "Open Sans Light";
    font-size: 2em;
    max-width: 100%;

}

figure {

    margin: 0;
    padding: 0;
    width: 100%;

}

/*********************** MEDIA QUERIES ***********************/

@media screen
    and (min-width: $mq-4k)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

        html,
        body {

            font-size: 24px;

        }

}

@media screen
    and (max-width: $mq-small) {

}
