/* pattern fill */
pattern > rect {

    fill: currentColor;

}

/* dot ring */
circle.ring {

    fill: transparent;
    stroke: white;
    stroke-width: 0.1em;

}

/* polka dot */
circle.dot {

    fill: white;

}

/* hatch */
line.hatch,
line.hatch-bottom-to-top,
line.hatch-top-to-bottom {

    stroke: white;
    stroke-width: 0.15em;

}
