/* bars */
.project-membership .lgv-bar[data-label="developer"],
.project-membership .lgv-bar[data-label="maintainer"],
.project-membership .lgv-bar[data-label="owner"] {

    stroke: white;

}

.project-membership .lgv-bar[data-label="public"],
.project-membership span[data-label="public"] {

    background: currentColor;
    fill: currentColor;

}

.project-membership .lgv-bar[data-label="personal"],
.project-membership span[data-label="personal"] {

    background: white;
    border-color: currentColor;
    fill: white;
    stroke: currentColor;

}

span[data-label="developer"],
span[data-label="maintainer"],
span[data-label="owner"] {

    background-color: currentColor;

}

[data-label="developer"] {

    background-image: repeating-linear-gradient(135deg, transparent, transparent 3px, white 1px, white 4px);
    fill: url(#sbc-hatch-bottom-to-top);

}

[data-label="maintainer"] {

    background-image: radial-gradient(white 30%, transparent 16%),
    radial-gradient(white 30%, transparent 16%);
    background-size: 0.25em 0.25em;
    background-position: 0 0, 0.25em 0.25em;
    fill: url(#sbc-dot);

}

[data-label="owner"] {

    background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, white 1px, white 4px);
    fill: url(#sbc-hatch-top-to-bottom);

}

/* legend */
.project-membership > div {

    display: flex;
    justify-content: space-between;

}

.project-membership .swatch-legend span[data-label="personal"] {

    border: 0.1em;
    border-style: solid;

}
