/* legend title */
.swatch-legend > p {

    font-family: "Open Sans Italic";
    margin: 0;

}

/* legend container */
.swatch-legend > div {

    display: flex;
    justify-content: space-between;

}

/* legend item container */
.swatch-legend > div > p {

    display: flex;

}

/* legend item container except last */
.swatch-legend > div > p:not(:last-of-type) {

    margin-right: 1em;

}

/* legend swatch */
.swatch-legend > div > p > span:first-of-type {

    display: block;
    height: 1em;
    margin-right: 0.5em;
    margin-top: 0.25em;
    width: 1em;

}
