header {

    background: var(--accent);
    height: 23em;
    margin-left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

header hgroup {

    align-content: space-around;
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 4em);
    justify-content: center;
    padding-top: 4em;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

/* username */
header hgroup h1 {

    font-size: 2.5em;
    width: 100%;

}

/* publish date */
header hgroup p {

    margin: 0;
    padding: 0;

}

/* hover style on avatar/name */
header hgroup h1 a,
header nav + a {

    opacity: 0.8;

}

/* sticky date range/avatar */
header hgroup + p,
header nav + a {

    display: block;
    position: absolute;
    top: -10em;
    transform: scale(0);
    -moz-transition: all 0.3s ease!important;
    -o-transition: all 0.3s ease!important;
    -webkit-transition: all 0.3s ease!important;
    transition: all 0.3s ease!important;

}

/* date range */
header hgroup + p {

    align-items: center;
    display: flex;
    font-family: "Open Sans Bold";
    height: 3em;
    left: 2em;
    margin: 0;
    text-align: left;

}

/* sticky avatar */
header nav + a {

    right: 2em;

}

header nav + a .md-avatar {

    height: 1.75em;
    min-width: 1.75em;
    width: 1.75em;

}

header nav {

    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    display: flex;
    height: 4.2em;
    justify-content: center;
    position: absolute;
    width: 100%;

}

/* adjust default link styles */
.md-theme-default header a:not(.md-button) {

    color: white;

}

.md-theme-default header a:not(.md-button):hover {

    color: white;
    opacity: 1;
    text-decoration: none;

}

/* sticky header */
body.sticky-header header {

    background-color: rgba($accent, 0.95);
    height: 4.2em;
    z-index: 99;

}

/* transition out name/avatar */
body.sticky-header header hgroup {

    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);

}

/* transition in date range/avatar */
body.sticky-header header hgroup + p,
body.sticky-header header nav + a {

    top: 0.75em;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);

}
