/* component */
footer {

    background-color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    padding-top: 3em;
    -moz-border-left-radius: 1em;
    -moz-border-right-radius: 1em;
    -webkit-border-left-radius: 1em;
    -webkit-border-right-radius: 1em;

}

footer > h1 {

    position: relative;

}

footer > h1 {

    font-size: 1em;
    margin-bottom: 1em;

}

footer p {

    margin: 0;

}

/* artificial horizontal rules */
footer > h1:before {

    background: currentColor;
    content: "";
    height: 0.05em;
    left: -2em;
    position: absolute;
    top: -0.75em;
    width: calc(100% + 4em);

}

/* specs container */
footer > div {

    display: flex;

}

/* spec container */
footer > div > div {

    margin-right: var(--copy-gutter);
    width: calc(100% / 2 - var(--copy-gutter));

}

footer > div > div:last-of-type {

    margin-right: 0;

}

/* spec subhead */
footer h2 {

    font-size: 1em;
    font-weight: 400;
    margin-top: 2em;

}

/* spec title */
footer h3 {

    font-size: 1em;
    margin-bottom: 1em;

}

@import "base-dependency";
