@font-face {

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("~@fontsource/open-sans/files/open-sans-latin-400-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("~@fontsource/open-sans/files/open-sans-latin-300-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Open Sans Italic";
    font-style: normal;
    font-weight: 400;
    src: url("~@fontsource/open-sans/files/open-sans-latin-400-italic.woff2") format("woff2");

}

@font-face {

    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: url("~@fontsource/open-sans/files/open-sans-latin-700-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("~material-icons/iconfont/material-icons.woff2") format("woff2");

}
