/* legend values */
[data-label="connected-via-interaction"] {

    background: currentColor;

}

.user-collaboration .swatch-legend span[data-label="connected-via-project-membership-only"] {

    border: 0.1em;
    border-style: solid;

}
