<template>

    <article class="activity">

        <hgroup>

            <h1>Activity</h1>

            <p>Contributed to project activity at a rate of {{ rateCollaboration }} collaboration per {{ rateCoding }} coding events.</p>

            <p>Activity is calculated as the number of GitLab events in the specified date range for a pre-determined type of event. Through the selection of event types, there is an <strong class="underline">attempt to give equal weight</strong> to code contributions as all other kind of contribution that is meaningful to project success.

            <p>Coding events are aggregated event counts from event types: push and merge. Collaboration events are aggregated event counts from event types: user approvals, user closures, user comments, user creations and user updates.</p>

            <p>The single largest contribution day was {{ m(stats.max_activity_date).format("D MMMM YYYY") }} with <strong class="underline">{{ stats.max_activity_date_count }} combined</strong> coding and collaboration events.</p>

        </hgroup>

        <!-- LEGEND -->
        <div>

            <!-- EVENT TYPES -->
            <SwatchLegend
                v-bind:title="'Type of Event'"
                v-bind:values="eventTypes" />

            <!-- EVENT COUNTS -->
            <BinLegend
                v-bind:title="'Number of Events'"
                v-bind:values="eventCounts" />

        </div>

        <!-- VISUALIZATION -->
        <figure></figure>

        <!-- PULL STATS -->
        <div>

            <!-- CODE PER PROJECT -->
            <p>
                <span>averaged</span>
                <span>{{ stats.average_coding_per_project }}</span>
                <span>coding events</span>
                <span>per project</span>
            </p>

            <!-- CODE PER DAY -->
            <p>
                <span>averaged</span>
                <span>{{ stats.average_coding_per_day }}</span>
                <span>coding events</span>
                <span>per day</span>
            </p>

            <!-- COLLAB PER PROJECT -->
            <p>
                <span>averaged</span>
                <span>{{ stats.average_collaboration_per_project }}</span>
                <span>collaborations</span>
                <span>per project</span>
            </p>

            <!-- COLLAB PER DAY -->
            <p>
                <span>averaged</span>
                <span>{{ stats.average_collaboration_per_day }}</span>
                <span>collaborations</span>
                <span>per day</span>
            </p>

        </div>

    </article>

</template>

<script>
    import moment from "moment";

    import BinLegend from "./BinLegend";
    import SwatchLegend from "./SwatchLegend";

    import { AC } from "../modules/activity-calendar";

    export default {
        name: "Activity",
        props: ["activity", "metadata", "stats"],
        components: {
            BinLegend,
            SwatchLegend
        },
        data: () => ({
            eventTypes: [
                { label: "Coding", value: 1 },
                { label: "Collaboration", value: 2}
            ],
            m: moment
        }),
        computed: {
            ac: function() {

                // set params
                let width = document.body.clientWidth;
                let height = width * 0.35;
                let data = Object.keys(this.activity).map(k => this.activity[k].map(d => ({
                        date: d.date,
                        label: d.type,
                        value: d.value
                    }))).flat();

                return new AC(data, width, height, this.metadata.date_start, this.metadata.date_end);

            },
            eventCounts: function() {
                return this.ac.threshold.range().map(d => ({
                    label: d,
                    value: d == 1 ? 0 : Math.round(this.ac.threshold.thresholds()[d - 2])
                }))
            },
            rateCoding: function() {
                return Number(this.stats.rate_collaboration_per_code.split(":")[1]).toLocaleString();
            },
            rateCollaboration: function() {
                return Number(this.stats.rate_collaboration_per_code.split(":")[0]).toLocaleString();
            }
        },
        mounted() {
            this.ac.render(this.$el.getElementsByTagName("figure")[0]);
        },
        methods: {
        }
    };
</script>
