<template>

    <section class="base-analytics">

        <!-- NO DATA -->
        <article v-if="noData">
            <h1>There appears to be no data.</h1>
            <p>{{ about.description }}</p>
            <p>{{ about.error }}</p>
        </article>

        <!-- DATA COVERAGE -->
        <DataCoverage
            v-if="coverageHasData"
            v-bind:metadata="metadata"
            v-bind:stats="coverage.stats"
            v-bind:time="time"
            v-bind:user="user" />

        <!-- PROJECT MEMBERSHIP -->
        <ProjectMembership
            v-if="membershipHasData"
            v-bind:membership="membership.data"
            v-bind:metadata="metadata"
            v-bind:stats="membership.stats" />

        <!-- USER COLLABORATION -->
        <UserCollaboration
            v-if="connectionsHasData"
            v-bind:connections="connections.data"
            v-bind:user="user" />

        <!-- CODE PROFILE -->
        <CodeProfile
            v-if="languagesHasData || topicsHasData"
            v-bind:languages="languages"
            v-bind:topics="topics" />

        <!-- ACTIVITY -->
        <Activity
            v-if="activityHasData"
            v-bind:activity="activity.data"
            v-bind:metadata="metadata"
            v-bind:stats="activity.stats" />

        <!-- CONTRIBUTION -->
        <Contribution
            v-if="contributionHasData"
            v-bind:activity="activity.stats"
            v-bind:contribution="contribution.data"
            v-bind:reference="contribution.reference"
            v-bind:stats="contribution.stats"
            v-bind:user="user" />

    </section>

</template>

<script>
    import moment from "moment";

    import Activity from "./Activity";
    import CodeProfile from "./CodeProfile";
    import Contribution from "./Contribution";
    import DataCoverage from "./DataCoverage";
    import ProjectMembership from "./ProjectMembership";
    import UserCollaboration from "./UserCollaboration";

    import activity from "../data/activity.json";
    import connections from "../data/connections.json";
    import contribution from "../data/contribution.json";
    import languages from "../data/languages.json";
    import membership from "../data/membership.json";
    import topics from "../data/topics.json";

    export default {
        name: "BaseAnalytics",
        props: ["coverage", "metadata", "time", "user"],
        components: {
            Activity,
            CodeProfile,
            Contribution,
            DataCoverage,
            ProjectMembership,
            UserCollaboration
        },
        data: () => ({
            activity: activity,
            connections: connections,
            contribution: contribution,
            languages: languages,
            membership: membership,
            topics: topics
        }),
        computed: {
            activityHasData: function() {
                return moment(this.metadata.date_end).diff(moment(this.metadata.date_start), "weeks") >= 1 &&  Object.keys(this.activity.data).length > 0 && (this.activity.data.coding.length + this.activity.data.collaboration.length) > 0;
            },
            connectionsHasData: function() {
                return Object.keys(this.connections.data).length > 0;
            },
            contributionHasData: function() {
                return Object.keys(this.contribution.data).length > 0;
            },
            coverageHasData: function() {
                return Object.keys(this.coverage).includes("stats") && Object.keys(this.coverage.stats).length > 0;
            },
            languagesHasData: function() {
                return this.languages.data && Object.keys(this.languages.data).length > 0;
            },
            membershipHasData: function() {
                return Object.keys(this.membership.stats).length > 0;
            },
            noData: function() {
                return !this.coverageHasData && !this.membershipHasData && !this.connectionsHasData && !this.languagesHasData && !this.topicsHasData && !this.activityHasData && !this.contributionHasData;
            },
            topicsHasData: function() {
                return this.topics.data && Object.keys(this.topics.data).length > 0;
            }
        }
    };
</script>
