<template>

    <div class="bin-legend">

        <!-- TITLE -->
        <p>{{ title }}</p>

        <div>

            <!-- THRESHOLDS -->
            <p v-bind:style="labelWrapWidth">
                <span
                    v-for="t in thresholds"
                    v-bind:key="t.label"
                    v-bind:data-label="t.value">{{ t.value }}
                </span>

            </p>

            <!-- BINS -->
            <p>
                <span
                    v-for="v in values"
                    v-bind:key="v.label"
                    v-bind:data-value="v.label">
                </span>

            </p>

        </div>

    </div>

</template>

<script>
    export default {
        name: "BinLegend",
        props: ["title", "values"],
        computed: {
            labelWrapWidth: function() {
                return { "width": `${100 - (100 / this.values.length)}%` };
            },
            thresholds: function() {
                return this.values.filter((d,i) => i > 0);
            }
        }
    };
</script>
