<template>

    <article class="code-profile">

        <hgroup>

            <h1>Coding</h1>

            <p>Exposed to {{ narrativeCallout }} across {{ projectCount }} project{{ projectCount > 1 || projectCount == 0 ? "s" : "" }}.</p>

            <p>{{ narrativeLabels }} are concepts that are tracked inside GitLab projects and exposed via GitLab API. gitrics performs simple aggregations of the{{ topicsHasData ? "se" : ""}} existing metrics for an individual user. The representation is meant to surface the <strong class="underline">{{ labels }} the user is aware of</strong>&#8212;not necessarily the ones they contribute to&#8212;although this will often be the case.</p>

        </hgroup>

        <div>

            <!-- LANGUAGES -->
            <Languages
                v-if="languagesHasData"
                v-bind:languages="languages" />

            <!-- TOPICS -->
            <Topics
                v-if="topicsHasData"
                v-bind:topics="topics" />

        </div>

    </article>

</template>

<script>
    import Languages from "./Languages";
    import Topics from "./Topics";

    export default {
        name: "CodeProfile",
        props: ["languages", "topics"],
        components: {
            Languages,
            Topics
        },
        computed: {
            labels: function() {
                return this.topicsHasData ? "languages/topics" : "languages";
            },
            languageCount: function() {
                return Object.keys(this.languages.data).length.toLocaleString();
            },
            languagesHasData: function() {
                return this.languages.data && Object.keys(this.languages.data).length > 0;
            },
            languageIsPlural: function() {
                return this.languageCount == 0 || this.languageCount > 1;
            },
            narrativeCallout: function() {

                // determine language/topic plurals
                let labelLanguages = this.languageIsPlural ? "languages" : "language";
                let labelTopics = this.topicIsPlural ? "topics/technologies" : "topic/technology";

                return this.topicCount == 0 ? `${this.languageCount} ${labelLanguages}` : `${this.languageCount} ${labelLanguages} and ${this.topicCount} ${labelTopics}`;

            },
            narrativeLabels: function() {
                return this.topicsHasData ? "Languages and Topics" : "Languages";
            },
            projectCount: function() {

                let hasLanguages = this.languages.stats !== undefined;
                let hasTopics = this.topics.stats !== undefined;

                let languageProjectCount = hasLanguages ? this.languages.stats.count_projects : 0;
                let topicProjectCount = hasTopics ? this.topics.stats.count_projects : 0;

                return languageProjectCount > topicProjectCount ? languageProjectCount.toLocaleString() : topicProjectCount.toLocaleString();
            },
            topicCount: function() {
                return this.topics.data && Object.keys(this.topics.data).length > 0 ? Object.keys(this.topics.data).length.toLocaleString() : 0;
            },
            topicsHasData: function() {
                return this.topics.data && Object.keys(this.topics.data).length > 0;
            },
            topicIsPlural: function() {
                return this.topicCount == 0 || this.topicCount > 1;
            }
        }
    };
</script>
