<template>

    <article class="contribution">

        <hgroup>

            <h1>Contribution</h1>

            <p>Concentrated on {{ fociNarrative }} in support of {{ effortCount }} effort{{ effortCount > 1 ? "s" : "" }} with the collaboration of {{ memberCount == 0 ? "no" : memberCount }} other user{{ memberCount !== 1 ? "s" : "" }}.</p>

            <p>Contribution is an <strong class="underline">attempt to connect strategic foci to high-level efforts</strong> based on the coding and collaboration activity of discrete project membership. An effort is the normalization of monolithic and polylithic architectures&#8212;where an individual effort can be represented in GitLab by multiple projects, groups, or repositories&#8212;into a single, conceptual task. Activity is the aggregation of coding and collaboration events.</p>

            <p>The single largest collection of activity (<strong class="underline">{{ stats.most_contributed_effort_activity }} total events</strong>) was registered against the {{ stats.most_contributed_effort }} effort and is representative of {{ `${maxActivityPercent}%` }} of {{ `${user.name}` }}{{ user.name.endsWith("s") ? "'" : "'s" }} total activity.</p>

        </hgroup>

        <!-- EVENT TYPES -->
        <SwatchLegend
            v-bind:title="'Strategic Focus'"
            v-bind:values="foci" />

        <!-- VISUALIZATION -->
        <figure></figure>

        <!-- PULL STATS -->
        <div>

            <!-- EVENTS PER FOCI -->
            <p>
                <span>averaged</span>
                <span>{{ eventsPerFoci }}</span>
                <span>activity events</span>
                <span>per focus</span>
            </p>

            <!-- EVENTS PER EFFORT -->
            <p>
                <span>averaged</span>
                <span>{{ eventsPerEffort }}</span>
                <span>activity events</span>
                <span>per effort</span>
            </p>

            <!-- PERCENTILE RANK AGAINST OTHER USERS -->
            <p v-if="percentile">
                <span>percentile</span>
                <span>{{ percentile[0] }}</span>
                <span>{{ percentile[1] }}</span>
                <span>for activity events</span>
                <span>relative to connected contributors</span>
            </p>

        </div>

    </article>

</template>

<script>
    import { StackedConnections } from "@lgv/stacked-connections";
    import { oxfordComma } from "@lgv/visualization-chart";

    import SwatchLegend from "./SwatchLegend";

    export default {
        name: "Contribution",
        props: ["activity", "contribution", "reference", "stats", "user"],
        components: {
            SwatchLegend
        },
        data: () => ({
        }),
        computed: {
            sc: function() {

                // set params
                let width = document.body.clientWidth;
                let height = width * 0.5;
                let data = [];

                this.contribution.forEach(d => {
                    d.foci.forEach(x => {
                        let dd = JSON.parse(JSON.stringify(d));
                        dd.focus = x;
                        data.push(dd);
                    });
                });

                return new StackedConnections(data, width, height, null, ["focus", "effort", "activity"], true, 0.8);

            },
            effortCount: function() {
                return this.stats.effort_count.toLocaleString();
            },
            eventsPerEffort: function() {
                return this.stats.average_activity_per_effort.toLocaleString();
            },
            eventsPerFoci: function() {
                return this.stats.average_activity_per_focus.toLocaleString();
            },
            foci: function() {
                return this.reference.foci.map(d => ({
                    label: d,
                    value: 1
                }))
            },
            fociNarrative: function() {
                return oxfordComma(this.reference.foci);
            },
            maxActivityPercent: function() {
                return Math.round((this.stats.most_contributed_effort_activity / this.activity.total) * 100);
            },
            memberCount: function() {
                // subtract current user from the count of all
                return (this.stats.member_count - 1).toLocaleString();
            },
            percentile: function() {
                return this.stats.percentile_for_activity_contribution ?  this.stats.percentile_for_activity_contribution.replace(/\d+/, '$& ').split(" ") : null;
            }
        },
        mounted() {
            this.sc.render(this.$el.getElementsByTagName("figure")[0]);
        },
        methods: {
        }
    };
</script>
