<template>

    <div class="data-coverage">

        <h1>{{ dateNarrative }}</h1>

        <p>This report was generated {{ publishTimeAgo }}, spans {{ dateSpan }}, and <strong>only includes data from the <a v-bind:href="metadata.gitlab_url" target="_blank">{{ metadata.gitlab_name }} instance</a></strong>.</p>

        <p v-if="stats && metadata && user">Data coverage for all subsequent metrics and visualization will reflect <strong>{{ metadata.public_or_private }}</strong> projects which are <strong>{{ metadata.visibility }}ly</strong> accessible. This constitutes <strong class="underline">{{ stats.percent_projects_coverage }}%</strong> of all projects {{ user.name }} is a member of.</p>

    </div>

</template>

<script>
    import moment from "moment-timezone";

    import { configurationTime } from "../configuration.js";

    export default {
        name: "DataCoverage",
        props: ["metadata", "stats", "time", "user"],
        computed: {
            dateNarrative: function() {

                // get values
                let start = this.time.dateStart;
                let end = this.time.dateEnd;
                let isSameYear = start.year === end.year;

                // determine text
                let narrative = isSameYear ? `${start.format("D")} ${start.format("MMMM")} to ${end.format("D MMMM YYYY")}` : `${start.format("D MMMM YYYY")} to ${end.format("D MMMM YYYY")}`;

                return start == end ? start : narrative;

            },
            dateSpan: function() {

                // calculate spans
                let spans = {
                    year: this.time.dateEnd.diff(this.time.dateStart, "years"),
                    month: this.time.dateEnd.diff(this.time.dateStart, "months"),
                    week: this.time.dateEnd.diff(this.time.dateStart, "weeks"),
                    day: this.time.dateEnd.diff(this.time.dateStart, "days"),
                    hour:
                    this.time.dateEnd.diff(this.time.dateStart, "hours")
                };

                // determine the time scale
                let timeScale = "hour";
                if (spans.year > 0) {
                    timeScale = "year";
                } else if (spans.month > 0) {
                    timeScale = "month";
                } else if (spans.week > 0) {
                    timeScale = "week";
                } else if (spans.day > 0) {
                    timeScale = "day";
                }

                return `${spans[timeScale]} ${timeScale}${spans[timeScale] == 1 ? "" : "s"}`;

            },
            publishTimeAgo: function() {

                // guess client timezone
                let tz = moment.tz.guess();
                let a = this.time.datePublish;
                let x = a.format("YYYY-MM-DDTHH:MM:ss.SS");

                return moment.utc(x).local().fromNow();

            }
        }
    };
</script>
