<template>

    <section class="languages">

        <hgroup>

            <h1>Languages</h1>

            <p>Languages, unlike topics, are automatically determined and calculated by GitLab, ensuring semantic accuracy.</p>

        </hgroup>

        <!-- VISUALIZATION -->
        <figure></figure>

    </section>

</template>

<script>
    import { RingChart } from "@lgv/ring-chart";

    export default {
        name: "Languages",
        props: ["languages"],
        computed: {
            rc: function() {

                // structure data
                let data = Object.keys(this.languages.data).map(d => ({ label: d, value: this.languages.data[d]}));

                return new RingChart(data);
            }
        },
        mounted() {

            // render
            this.rc.render(this.$el.getElementsByTagName("figure")[0]);

        }
    };
</script>
