<template>

    <article class="project-membership">

        <hgroup>

            <h1>Project Membership</h1>

            <!-- SUMMARY NARRATIVE -->
            <p>{{ generateNarrative() }}</p>

            <p><strong class="underline">Public projects are more collaborative and discoverable</strong> than personal and foster more reproducibility by nature of having to deconflict and ensure code executes with multiple contributors.</p>

        </hgroup>

        <!-- LEGEND -->
        <div>

            <!-- PROJECT TYPES -->
            <SwatchLegend
                v-bind:title="'Project Types'"
                v-bind:values="projectTypes" />

            <!-- ROLE TYPES -->
            <SwatchLegend
                v-bind:title="'Type of Role'"
                v-bind:values="roleTypes" />

        </div>

        <!-- VISUALIZATION -->
        <figure></figure>

    </article>

</template>

<script>
    import SwatchLegend from "./SwatchLegend";

    import { SBC } from "../modules/stacked-bar-chart";

    export default {
        name: "ProjectMembership",
        props: ["membership", "metadata", "stats"],
        components: {
            SwatchLegend
        },
        computed: {
            sbc: function() {

                // set params
                let width = document.body.clientWidth;
                let height = width * 0.1;
                let padding = 0.2;

                return new SBC(this.viz, width, height, padding);

            },
            projectTypes: function() {
                return [
                    { label: "personal", value: this.stats.percent_personal },
                    { label: "public", value: this.stats.percent_public }
                ]
            },
            roleTypes: function() {
                return [
                    { label: "developer", value: this.stats.percent_developer },
                    { label: "maintainer", value: this.stats.percent_maintainer },
                    { label: "owner", value: this.stats.percent_owner }
                ]
            },
            viz: function() {
                return {
                    "project type": {
                        personal: this.membership.personal,
                        public: this.membership.public
                    },
                    "type of role": {
                        developer: this.membership.developer,
                        maintainer: this.membership.maintainer,
                        owner: this.membership.owner
                    }
                }
            }
        },
        mounted() {
            this.sbc.render(this.$el.getElementsByTagName("figure")[0]);
        },
        methods: {
            generateNarrative() {

                let total = this.stats.total_projects;
                let difference = this.stats.difference_public_to_personal;

                // determine largest percent for role
                let role = this.stats.greatest_percent_role;

                // narratives
                let assessment = "about the same";
                let assessmentConnection = "and";
                let percentDifference = "";
                let roleNarrative = this.membership.public > 0 ? `, most often in a${role == "owner" ? "n" : ""} ${role} role` : "";

                // determine difference between public/personal membership
                if (difference < -5) {
                    assessment = "less";
                    assessmentConnection = "than";
                    percentDifference = `${this.stats.percent_difference_public_to_personal.toLocaleString()}%`;
                } else if (difference > 5) {
                    assessment = "more";
                    assessmentConnection = "than";
                    percentDifference = `${this.stats.percent_difference_public_to_personal.toLocaleString()}%`;
                }

                return `Participated in ${percentDifference} ${assessment} public projects ${assessmentConnection} personal projects${roleNarrative}.`;

            }
        }
    };
</script>
