<template>

    <div class="swatch-legend">

        <!-- TITLE -->
        <p>{{ title }}</p>

        <div>

            <!-- VALUES -->
            <p v-for="v in values"
                v-bind:key="v.label">
                <span v-bind:data-label="v.label.toLowerCase().replaceAll(' ', '-')"></span>
                <span>{{ v.label }}, {{ v.value }}%</span>
            </p>

        </div>

    </div>

</template>

<script>
    export default {
        name: "SwatchLegend",
        props: ["title", "values"]
    };
</script>
