<template>

    <div>

        <!-- DIALOG -->
        <md-dialog :md-active.sync="showDialog">

            <!-- must use in order to allow scrolling -->
            <md-dialog-content>

                <h1>gitrics</h1>
                <h2>{{ subhead }}</h2>

                <div>
                    <a v-if="gitricsGitlabUrl"
                        v-bind:href="gitricsGitlabUrl"
                        class="logo-gitlab"
                        target="_blank">
                        <svg id="logo_art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559"><path  d="M461.48,298.35,443.7,243.72a7.72,7.72,0,0,0-.43-1.47L407.6,132.45a14.18,14.18,0,0,0-13.54-9.67,13.94,13.94,0,0,0-13.38,9.75l-34,104.63H239.37L205.32,132.53A13.94,13.94,0,0,0,192,122.78h-.08a14.22,14.22,0,0,0-13.5,9.76L142.72,242.47c0,.1-.08.18-.11.28l-18.1,55.61a20.29,20.29,0,0,0,7.37,22.71L288.26,434.7a8,8,0,0,0,9.45-.05l0,0L454.12,321.07A20.28,20.28,0,0,0,461.48,298.35ZM227.73,253.22l43.59,134.16L166.68,253.22Zm87,134.19,41.8-128.62,1.8-5.57h61.1L324.76,374.5Zm79.47-244.58,30.63,94.33H363.52ZM341.49,253.16l-30.37,93.46L293,402.28,244.58,253.16ZM191.85,142.83l30.69,94.33H161.27Zm-50.56,165.3a4.31,4.31,0,0,1-1.56-4.83L153.17,262l98.57,126.37Zm303.43,0L334.26,388.34l.37-.48L432.83,262l13.44,41.28A4.31,4.31,0,0,1,444.72,308.12Z"/></svg>
                    </a>
                    <a v-if="gitricsDocsUrl"
                        v-bind:href="gitricsDocsUrl"
                        class="logo-docs"
                        target="_blank">
                        <md-icon>menu_book</md-icon>
                    </a>
                    <a v-if="gitricsPypiUrl"
                        v-bind:href="gitricsPypiUrl"
                        class="logo-pypi"
                        target="_blank">
                        <svg id="pip_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path d="M21.77,50c-1.8-0.54-3.68-0.9-5.39-1.66c-2.33-1.04-3.67-2.84-3.56-5.63c0.13-3.34,0.11-6.69,0.02-10.04
                            c-0.13-4.74,2.9-7.1,7.2-7.19c3.95-0.08,7.9,0.04,11.84-0.06c1.16-0.03,2.43-0.31,3.45-0.85c2.27-1.2,3.03-3.42,3.18-5.83
                            c0.1-1.65,0.02-3.31,0.02-4.97c0-1.31,0.02-1.33,1.29-1.34c0.63,0,1.27,0.04,1.9-0.01c3.69-0.27,5.88,1.86,7.11,4.99
                            c1.29,3.28,1.23,6.72,1.02,10.16c-0.13,2.17-0.7,4.22-1.83,6.08c-1.36,2.22-3.41,3.31-5.94,3.35c-5.27,0.07-10.55,0.02-15.82,0.02
                            c-1.22,0-1.22,0-1.06,1.38c0.33,0.02,0.68,0.06,1.03,0.06c3.25,0,6.51,0.02,9.76-0.01c0.8-0.01,1.15,0.24,1.12,1.09
                            c-0.05,1.51-0.07,3.02,0,4.52c0.09,1.71-0.73,2.88-2.05,3.77c-1.87,1.27-4.01,1.7-6.22,2L21.77,50z M28.85,0
                            c2.13,0.3,4.13,0.87,5.91,2.09c1.55,1.06,2.37,2.48,2.35,4.41c-0.04,3.59-0.13,7.18,0.01,10.76c0.19,4.69-2.95,7-7.17,7.1
                            c-3.95,0.09-7.9,0.01-11.84,0.02c-3.76,0.01-6.2,2.19-6.52,5.95c-0.17,1.98-0.15,3.97-0.15,5.96c0,0.81-0.25,1.16-1.09,1.12
                            c-1.02-0.05-2.05,0.01-3.07-0.03c-2.99-0.11-4.83-1.87-5.93-4.44c-0.63-1.48-0.95-3.08-1.32-4.31l0-7.37
                            c0.33-1.08,0.65-2.49,1.18-3.82c1.11-2.72,3.52-4.74,6.75-4.68c3.67,0.07,7.35,0.02,11.02,0.02c1.66,0,3.31,0.01,4.97-0.01
                            c0.71-0.01,1.11-0.65,0.7-1.12c-0.19-0.22-0.64-0.29-0.97-0.29c-3.25-0.02-6.51-0.03-9.76,0c-0.81,0.01-1.15-0.25-1.12-1.09
                            c0.05-1.38,0.11-2.78-0.01-4.16c-0.21-2.36,1-3.81,2.94-4.69c1.46-0.66,3.05-1.04,3.82-1.3L28.85,0z M29.85,43.66
                            c0,1.12,0.88,2.15,1.87,2.17c1.16,0.03,2.1-0.87,2.1-2.02c0-1.14-0.87-2.04-1.98-2.05C30.74,41.77,29.85,42.61,29.85,43.66z
                             M20.08,5.93c0-1.07-0.88-1.94-1.97-1.94c-1.04,0-2,1.01-1.97,2.08c0.03,1,1.01,1.95,2.02,1.96C19.23,8.04,20.08,7.11,20.08,5.93z"
                            />
                        </svg>
                    </a>
                    <a v-if="gitricsCondaUrl"
                        v-bind:href="gitricsCondaUrl"
                        class="logo-conda"
                        target="_blank">
                        <svg id="conda_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path d="M31.37,0c1.24,0.26,2.47,0.52,3.66,0.77c-1.2,0.85-2.38,1.68-3.56,2.52C30.45,2.21,29.41,1.1,28.37,0
                            C29.37,0,30.37,0,31.37,0z M45.41,43.57c1.55-1.59,1.56-2.67,0.02-4.29c-0.95-0.99-1.91-1.98-2.88-2.95c-1.93-1.95-2.72-2-4.93-0.39
                            c-8.09,5.9-18.55,2.69-21.94-6.69c-0.16-0.44-0.69-0.84-1.15-1.05c-1.69-0.78-3.46-1.41-5.13-2.24c-0.7-0.35-1.15-0.35-1.6,0.22
                            c-1.08,1.37-2.12,2.76-3.22,4.12C3.96,31.07,4,31.81,4.29,32.72C7.58,43.07,17.47,50.01,28.97,50C35.41,50,41.43,47.64,45.41,43.57z
                             M34.33,46.29c-10.17,2.67-20.73-1.81-26.34-11.96c-0.44-0.79,0.48-3.77,1.28-3.99c0.43-0.11,0.95,0.19,1.44,0.22
                            c1.74,0.11,2.61,1.13,3.51,2.59c3.1,5.03,7.51,8.35,13.56,8.96c4.23,0.43,8.09-0.79,11.5-3.31c0.8-0.59,1.31-0.65,1.95,0.14
                            c0.68,0.84,1.45,1.59,2.26,2.47C40.75,43.84,37.71,45.4,34.33,46.29z M39.31,2.49c0.1,0.39,0.2,0.78,0.29,1.17
                            c0.35,1.54,0.7,3.08,1.06,4.62c0.2,0.86-0.05,1.29-0.98,1.62c-1.48,0.53-2.87,1.34-4.51,2.14c1.43,1.03,2.48,1.83,3.58,2.57
                            c0.9,0.6,1.86,0.58,2.65-0.17c1.56-1.5,3.1-3.03,4.57-4.62c0.86-0.93,0.9-2.25-0.07-3.03c-2.01-1.63-4.16-3.09-6.26-4.62
                            C39.51,2.27,39.41,2.38,39.31,2.49z M5.02,19.81c1.01,1.09,2,2.2,3.03,3.27c0.18,0.19,0.63,0.33,0.85,0.24
                            c1.57-0.63,3.11-1.33,4.6-1.98c-0.97-1.13-1.98-2.34-3.04-3.5c-0.2-0.22-0.71-0.37-0.98-0.27c-1.47,0.52-2.91,1.13-4.36,1.7
                            C5.09,19.45,5.06,19.63,5.02,19.81z M15.03,11.03c-0.08-0.24-0.32-0.56-0.54-0.6c-1.57-0.3-3.16-0.58-4.98,0.03
                            c0.43,1.48,0.81,2.87,1.26,4.23c0.09,0.28,0.49,0.64,0.76,0.65c1.61,0.06,3.22,0.03,4.85,0.03C15.92,13.87,15.5,12.44,15.03,11.03z
                             M37.55,7.96c0.26-0.16,0.57-0.57,0.54-0.83c-0.17-1.57-0.57-3.08-1.71-4.54c-1.17,0.87-2.28,1.65-3.33,2.51
                            c-0.22,0.18-0.35,0.68-0.26,0.96c0.38,1.27,0.85,2.5,1.31,3.82C35.31,9.22,36.45,8.63,37.55,7.96z M16.65,8.37
                            C16.64,8.58,16.77,8.92,16.93,9c1.34,0.69,2.71,1.34,4.07,2.01c0.24-1.44,0.48-2.79,0.66-4.15c0.03-0.26-0.12-0.71-0.32-0.81
                            c-1.36-0.67-2.75-1.26-4.46-2.03C16.79,5.75,16.7,7.06,16.65,8.37z M29.47,5.66c0.13-0.23,0.11-0.7-0.04-0.9
                            c-0.82-1.11-1.71-2.17-2.79-3.52c-0.82,1.48-1.48,2.61-2.07,3.78c-0.11,0.22-0.05,0.67,0.11,0.87c0.89,1.08,1.83,2.11,2.77,3.18
                            C28.13,7.92,28.83,6.81,29.47,5.66z M3.4,28.92c1.3-1.56,2.48-2.99,3.65-4.41C5.92,23.2,4.8,21.89,3.4,20.27
                            C3.4,23.33,3.4,26.07,3.4,28.92z M4.52,17.64c1.54-0.66,3.09-1.33,4.57-1.97C8.66,14,8.24,12.41,7.82,10.82
                            c-0.11-0.05-0.21-0.1-0.32-0.16c-1.12,2.25-2.25,4.49-3.37,6.74C4.26,17.48,4.39,17.56,4.52,17.64z M15,4.06
                            c-0.08-0.07-0.15-0.15-0.23-0.22c-1.62,1.35-3.25,2.7-4.87,4.05c0.08,0.12,0.16,0.25,0.24,0.37c1.44,0,2.88,0,4.45,0
                            C14.72,6.82,14.86,5.44,15,4.06z M24.63,0.48c-0.06-0.09-0.12-0.18-0.18-0.27c-2.09,0.62-4.18,1.25-6.55,1.96
                            c1.79,0.75,3.19,1.34,4.64,1.95C23.22,2.91,23.93,1.69,24.63,0.48z M10.21,24.79c1.55,0.65,3.1,1.3,4.76,1.99c0-1.43,0-2.56,0-4.03
                            c-1.71,0.54-3.24,1.02-4.76,1.5C10.21,24.43,10.21,24.61,10.21,24.79z M12.34,17.39c1.01,1.06,2.02,2.11,3.17,3.32
                            c0.57-1.29,0.99-2.26,1.5-3.42c-1.64-0.1-3.1-0.2-4.56-0.29C12.42,17.13,12.38,17.26,12.34,17.39z M17.06,11.57
                            c0.49,1.18,0.99,2.35,1.54,3.65c0.78-0.72,1.35-1.25,2.09-1.94c-1.16-0.71-2.23-1.37-3.3-2.02C17.29,11.36,17.17,11.46,17.06,11.57z
                             M23.92,8.08c-0.13,0.04-0.26,0.07-0.4,0.11c-0.08,1.14-0.17,2.27-0.27,3.62c1.03-0.34,1.77-0.57,2.76-0.9
                            C25.22,9.83,24.57,8.95,23.92,8.08z M30.69,7.91c-0.42,0.88-0.83,1.77-1.31,2.78c0.95,0.11,1.63,0.2,2.52,0.3
                            c-0.3-1.13-0.56-2.07-0.81-3.01C30.95,7.96,30.82,7.94,30.69,7.91z"/>
                        </svg>
                    </a>
                </div>

                <!-- DESCRIPTION -->
                <h3>About</h3>
                <p>{{ description }}</p>
                <p v-if="gitricsDocsUrl">See how it works
                    <a href="gitricsDocsUrl" target="_blank">here</a>.
                </p>

                <!-- SECURITY -->
                <h3>Data Integrity</h3>
                <p>{{ dataDescription }}</p>
                <p v-if="gitricsDocsUrl">See how to generate your own
                    <a v-bind:href="gitricsDocsUrl" target="_blank">here</a>.
                </p>

                <!-- ACTIONS -->
                <md-dialog-actions>

                    <!-- CLOSE -->
                    <md-button class="md-primary"
                        @click="showDialog = false">Close
                    </md-button>

                </md-dialog-actions>

            </md-dialog-content>

        </md-dialog>

        <!-- DIALOG BUTTON TRIGGER -->
        <md-button @click="showDialog = true">gitrics</md-button>

    </div>

</template>

<script>
    import { configuration } from "../configuration.js";
    import about from "../data/about.json";

    export default {
        name: "TheAbout",
        props: ["visibility"],
        data: () => ({
            dataDescription: about.data,
            description: about.description,
            gitricsCondaUrl: configuration.condaUrl,
            gitricsDocsUrl: configuration.docsUrl,
            gitricsGitlabUrl: configuration.gitlabUrl,
            gitricsPypiUrl: configuration.pypiUrl,
            showDialog: false,
            subhead: about.subhead
        })
    }
</script>
