<template>

    <footer>

        <h1>gitrics</h1>

        <p>This report was generated using the packages below. The specifications reference the state of each when this report was published, which was {{ datePublish }}.
        </p>

        <!-- DEPENDENCIES -->
        <div>

            <!-- DEPENDENCY -->
            <BaseDependency
                v-for="d in dependencies"
                v-bind:key="d.name"
                v-bind:dependency="d" />

        </div>

    </footer>

</template>

<script>
    import moment from "moment";

    import packagejson from "../../package.json";
    import BaseDependency from "./Dependency/BaseDependency";

    export default {
        name: "TheFooter",
        props: ["metadata"],
        components: {
            BaseDependency
        },
        computed: {
            datePublish: function() {
                return moment(this.metadata.date_publish).format("D MMMM YYYY")
            },
            dependencies: function() {
                return [
                    {
                        name: "gitrics",
                        type: "python package",
                        url: "blah",
                        versionLabel: packagejson.config.gitrics.version,
                        versionUrl: packagejson.config.gitrics.url,
                        authors: packagejson.config.gitrics.authors,
                        maintainers: packagejson.config.gitrics.maintainers ? packagejson.config.gitrics.maintainers : (packagejson.config.gitrics.authors ? packagejson.config.gitrics.authors : null)
                    },
                    {
                        name: "gitrics-ui",
                        type: "user interface",
                        url: "blah",
                        versionLabel: packagejson.version,
                        versionUrl: packagejson.homepage,
                        authors: packagejson.author ? [packagejson.author] : null,
                        maintainers: packagejson.maintainers ? packagejson.maintainers : (packagejson.author ? [packagejson.author] : null)
                    }
                ]
            }
        }
    };
</script>
