<template>

    <section class="topics">

        <hgroup>

            <h1>Topics</h1>

            <p>Topics, unlike languages, are user-driven so they are only as meaningful as the humans capturing the data.</p>

        </hgroup>

        <!-- VISUALIZATION -->
        <figure></figure>

    </section>

</template>

<script>
    import { RingChart } from "@lgv/ring-chart";

    export default {
        name: "Topics",
        props: ["topics"],
        computed: {
            rc: function() {

                // structure data
                let data = Object.keys(this.topics.data).map(d => ({ label: d, value: this.topics.data[d]}));

                return new RingChart(data);
            }
        },
        mounted() {

            // render
            this.rc.render(this.$el.getElementsByTagName("figure")[0]);

        }
    };
</script>
