<template>

    <article class="user-collaboration">

        <hgroup>

            <h1>Collaboration</h1>

            <p>Connected to {{ interactionCount }} user{{ interactionCount > 1 || interactionCount == 0 ? "s" : "" }} through direct interaction and {{ membersOnlyCount }} exclusively via project membership.</p>

            <p>Collaboration is calculated by the number of issues or merge requests assigned to or assigned by {{ user.name }}, excluding those where {{ user.name }} is both the assigner and assignee.</p>

            <p><strong class="underline">Interaction is given more weight</strong> than connection <em>only</em> via shared project membership by aggregating the assignment count between {{ user.name }} as source and any other user as target in a node-edge relationship. Whereas, all members of GitLab projects that {{ user.name }} has, at minimum, developer permissions on are assessed to have an edge value of 1.</p>

        </hgroup>

        <!-- LEGEND -->
        <SwatchLegend
            v-bind:title="'Type of Connection'"
            v-bind:values="legend" />

        <!-- VISUALIZATION -->
        <figure></figure>

    </article>

</template>

<script>
    import { BubbleChart } from "@lgv/bubble-chart";

    import SwatchLegend from "./SwatchLegend";

    export default {
        name: "UserCollaboration",
        props: ["connections", "user"],
        components: {
            SwatchLegend
        },
        data: () => ({
            legend: [
                { label: "Connected via interaction", value: 1 },
                { label: "Connected via project membership only", value: 2}
            ]
        }),
        computed: {
            bc: function() {

                // set params
                let width = document.body.clientWidth;
                let height = width * 0.5;

                return new BubbleChart(this.dataFormatted, width, height);

            },
            dataFormatted: function() {
                return Object.keys(this.connections).map(k => ({
                    avatar_url: this.connections[k].user ?  this.connections[k].user.avatar_url : this.user.avatar_url,
                    member_only: this.connections[k].member_only,
                    id: this.connections[k].user ? this.connections[k].user.id : this.user.id,
                    label: this.connections[k].user ?  this.connections[k].user.name.split(" ")[0] : this.user.name.split(" ")[0],
                    value: this.connections[k].count,
                    web_url: this.connections[k].user ? this.connections[k].user.web_url : this.user.web_url
                }));
            },
            interactionCount: function() {
                return Object.keys(this.connections)
                    .filter(k => !this.connections[k].member_only)
                    .length
                    .toLocaleString();
            },
            membersOnlyCount: function() {
                return Object.keys(this.connections)
                    .filter(k => this.connections[k].member_only)
                    .length
                    .toLocaleString();
            }
        },
        mounted() {
            this.bc.render(this.$el.getElementsByTagName("figure")[0]);
        },
        methods: {
            openProfile(e) {

                // get current data object
                let selectedData = this.dataFormatted.filter(d => d.id == e.detail.id)[0];

                // open user profile
                window.open(selectedData.web_url, "_blank").focus();

            }
        }
    };
</script>
