<template>

    <div class="base-dependency">

        <h2>{{ dependency.type }}</h2>
        <h3>
            <a v-bind:href="dependency.url"
                target="_blank">{{ dependency.name }}
            </a>
        </h3>

        <!-- AUTHORS -->
        <DependencyUser
            v-if="dependency.authors && dependency.authors.length > 0"
            v-bind:label="'Author/Originator'"
            v-bind:users="dependency.authors" />

        <!-- MAINTAINERS -->
        <DependencyUser
            v-if="dependency.maintainers"
            v-bind:label="'Maintainer'"
            v-bind:users="dependency.maintainers" />

        <!-- VERSION -->
        <DependencyVersion
            v-bind:label="dependency.versionLabel"
            v-bind:url="determineUrl(dependency.versionUrl, dependency.versionLabel)" />

    </div>

</template>

<script>
    import DependencyUser from "./DependencyUser";
    import DependencyVersion from "./DependencyVersion";

    export default {
        name: "BaseDependency",
        props: ["dependency"],
        components: {
            DependencyUser,
            DependencyVersion
        },
        methods: {
            determineUrl(url, version) {
                return `${url}/-/tree/${version}`;
            }
        }
    };
</script>
