<template>

    <p class="dependency-version">

        <!-- LABEL -->
        <strong>Version</strong>:

        <!-- URL -->
        <a v-if="url"
            v-bind:href="url"
            target="_blank">{{ label }}
        </a>

    </p>

</template>

<script>
    export default {
        name: "DependencyVersion",
        props: ["label", "url"]
    };
</script>
