<template>

    <p class="dependency-user">

        <!-- LABELS -->
        <strong>{{ labelFormatted }}</strong>:

        <!-- USER -->
        <span v-for="(user, i) in users"
            v-bind:key="user.name">

            <!-- LINK -->
            <a v-if="user.url"
                v-bind:href="user.url"
                target="_blank">{{ user.name }}</a>{{ i != users.length - 1 ? "," : "" }}
        </span>

    </p>

</template>

<script>
    export default {
        name: "DependencyUser",
        props: ["label", "users"],
        computed: {
            labelFormatted: function() {
                return this.determineLabel(this.users, this.label);
            }
        },
        methods: {
            determineLabel(items, label) {

                // determine sublabels
                let sublabels = label.split("/");

                // stitch subs back into label
                let text = sublabels.join(`${items && items.length > 1 ? "s/": "/"}`);

                // have to add last s on if needed
                return `${text}${items && items.length > 1 ? "s" : ""}`;

            }
        }
    };
</script>
