<template>

    <main v-bind:style="{ width: mainWidth }">

        <TheHeader
            v-bind:mainWidth="mainWidth"
            v-bind:metadata="metadata"
            v-bind:time="time"
            v-bind:user="user" />

        <BaseAnalytics
            v-bind:coverage="coverage"
            v-bind:mainWidth="mainWidth"
            v-bind:metadata="metadata"
            v-bind:time="time"
            v-bind:user="user" />

        <TheFooter
            v-bind:metadata="metadata" />

    </main>

</template>

<script>
    import moment from "moment";

    import BaseAnalytics from "./components/BaseAnalytics";
    import TheFooter from "./components/TheFooter";
    import TheHeader from "./components/TheHeader";

    import coverage from "./data/coverage.json";
    import metadata from "./data/metadata.json";
    import user from "./data/user.json";

    export default {
        name: "App",
        metaInfo: {
          title: "gitrics",
          titleTemplate: `%s`
        },
        components: {
            BaseAnalytics,
            TheFooter,
            TheHeader
        },
        data: () => ({
            coverage: coverage,
            mainWidth: 0,
            maxWidth: 650,
            metadata: metadata,
            minWidth: 400,
            widthPercent: 0.6,
            user: user
        }),
        computed: {
            time: function() {

                let d = metadata;

                // get values
                let start = moment(d.date_start);
                let end = moment(d.date_end);

                return {
                    dateEnd: moment(d.date_end),
                    datePublish: moment(d.date_publish),
                    dateStart: moment(d.date_start)
                };
            }
        },
        created () {
            window.addEventListener("resize", this.setMainWidth);
            window.addEventListener('scroll', this.handleScroll);
        },
        mounted () {
            this.mainWidth = `${this.calculateWidth()}px`;
        },
        destroyed () {
            window.removeEventListener("resize", this.setMainWidth);
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods: {
            calculateWidth() {

                let base = document.documentElement.clientWidth * this.widthPercent;
                let isLessThanMin = base <= this.minWidth;
                let isGreaterThanMax = base >= this.maxWidth;

                return isGreaterThanMax ? this.maxWidth : (isLessThanMin ? document.documentElement.clientWidth : document.documentElement.clientWidth * this.widthPercent);

            },
            handleScroll(e) {
                window.scrollY >= 30 ? document.body.classList.add("sticky-header") : document.body.classList.remove("sticky-header");
            },
            setMainWidth(e) {
                this.mainWidth = `${this.calculateWidth()}px`;
            }
        }
    };
</script>
